<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="notification_message_list_data_source" xsi:type="string">AlbertMage\Notification\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AlbertMage\Notification\Model\ResourceModel\Post\Grid\Collection" type="AlbertMage\Notification\Model\ResourceModel\NotificationMessage\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">notification_message</argument>
            <argument name="resourceModel" xsi:type="string">AlbertMage\Notification\Model\NotificationMessage</argument>
        </arguments>
    </virtualType>
</config>